# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# FreeCAD automatic backups
*.fcstd1

# FreeCAD STEP exports
*.step

# EAGLE automatic backups
*.s\#*
*.b\#*
*.l\#*
